.top.scrolled {
  background-color: #f8f8f8;
}
.block {
  background-color: #129287;
}
.about_rh {
  background-color: #f8f8f8;
}
.header_rh030 {
  background-color: #129287;
}
.date_rh030 {
  color: #c9c9c9;
}
.footer_rh030 {
  font-size: 0.8em;
  line-height: 2.0em;
}
.about_rh {
  font-size: 0.9em;
  line-height: 2.0rem;
}
.blogbeschreibung {
  font-size: 0.9em;
  line-height: 1.0rem;
}
.postcontent_rh030 {
  font-size: 1.3em;
}
body {
  background-color: #ffffff;
  color: #4f5154;
  margin: 0;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 2em;
  font-weight: 300;
  word-wrap: break-word;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  color: #4fbccb;
  outline: 0;
}
h1 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 2.25em;
  margin: 0.625em 0;
}
h3 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.5em;
  margin: 1.313em 0;
}
h4 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.125em;
  margin: 1.313em 0;
}
h6 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1em;
  margin: 0.75em 0;
}
.blogtitle_rh030,
.blogtitle_rh030 a {
  font-size: 4.5rem;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
}
.blogdescription_rh030,
.blogdescription_rh030 a {
  font-size: 0.8rem;
  margin: 0;
  text-decoration: none;
}
h1.posttitle_rh030 {
  color: #129287;
}
h1.posttitle_rh030 a,
h1.posttitle_rh030 a:link,
h1.posttitle_rh030 a:visited {
  color: black;
  text-decoration: none;
}
h1.posttitle_rh030 a:hover,
h1.posttitle_rh030 a:focus {
  color: #129287;
}
#menu h1 {
  font-size: 14px;
  letter-spacing: 1px;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-ghost:before,
.icon-rss:before,
.icon-twitter:before,
.icon-gplus:before,
.icon-facebook:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
  margin-right: 1em;
}
.icon-gplus:before {
  content: "\e003";
  margin-right: 1em;
}
.icon-facebook:before {
  content: "\e004";
  margin-right: 1em;
}
.icon-rss:before {
  content: "\e001";
}
.icon-ghost:before {
  content: "\e000";
  margin-right: 0.5em;
}
.navigation.active {
  z-index: 900;
  opacity: 1;
}
.navigation {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  z-index: 0;
}
.main_rh030.padding-top {
  padding-top: 10em;
}
.about_rh {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 100%;
  text-align: center;
  padding: 60px 0px;
}
.block {
  max-width: 13em;
  margin: 0 auto;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}
.blogbeschreibung {
  margin: 0 auto;
  max-width: 54em;
  text-align: center;
}
.main_rh030 {
  display: block;
  max-width: 54em;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}
.top {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 95px;
  position: fixed;
  width: 100%;
  z-index: 2000;
}
#menu {
  padding: 0 38px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  max-width: 850px;
  display: block;
  margin: 38px auto;
  transition: max-width 0.5s ease-in;
  -webkit-transition: max-width 0.5s ease-in 0;
}
.top.scrolled #menu {
  max-width: 100%;
}
#menu ul {
  list-style: none outside none;
  display: block;
}
#menu a {
  color: #129287;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
#menu a,
.pic,
.title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}
a:link {
  color: #30B1BC;
  text-decoration: none;
}
#hamburger {
  display: block;
  float: right;
  background: url(../../assets/images/menu-alt.png) no-repeat;
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
  margin: 0px;
  padding-top: 0px;
}
.header_rh030 {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 595px;
  line-height: 0;
  max-height: 500px;
  padding-top: 95px;
  margin: 0 auto 50px;
}
.mobile .header_rh030 {
  height: 200px;
  margin-top: 95px;
}
.user_icon {
  padding-top: 10px;
}
.logo_rh030 {
  position: absolute;
  border: 0;
  left: 50%;
  top: 50%;
  margin: -47px 0 0 -82px;
}
.wrapper_rh030 {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
/*.header_rh030 {
	.HeaderColor;
	text-align: center;
	padding-top: 1.5 * @golden + 0em;
	padding-bottom: 3 * @golden + 0em;
	margin-bottom: 0.25em;
}
.header_rh030 {
    .HeaderColor;
}*/
.article_rh030 {
  background: white;
  padding: 0 2em 2em 2em;
  margin-bottom: 5.0em;
}
.article_rh030 a,
.article_rh030 a:link,
.article_rh030 a:visited {
  color: #4fbccb;
}
.article_rh030 a:hover,
.article_rh030 a:focus {
  color: #ef9335;
  transition: color 0.2s ease-in;
  -webkit-trasition: color 0.2s ease-in;
}
.postcontent_rh030 {
  padding-top: 0.5em;
}
.footer_rh030 {
  color: black;
  max-width: 54em;
  margin: 0 auto;
  text-align: center;
}
.footer_rh030 a,
.footer_rh030 a:link,
.footer_rh030 a:visited {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.footer_rh030 a:hover,
.footer_rh030 a:focus {
  color: #129287;
}
.pagination_rh030 {
  background-color: white;
  color: #4f5154;
  text-align: center;
}
.posttags_rh030 {
  margin-top: 4em;
  font-style: italic;
}
.sharepost_rh030 {
  background-color: #ffffff;
  border: 0.063em solid #129287;
  color: #129287;
  margin: 2em 0 4em 0;
  padding: 2em;
  margin-top: 7em;
}
.sharepost_rh030 a,
.sharepost_rh030 a:link,
.sharepost_rh030 a:visited {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.sharepost_rh030 a:hover,
.sharepost_rh030 a:focus {
  color: #25748c;
}
h4.share_rh030 {
  margin: 0 0.5em 0 0;
}
.share_rh030 {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.authorimage_rh030 {
  background-color: #ffffff;
  border: 0.063em solid #ef9335;
  float: left;
  line-height: 0;
  margin-right: 2em;
  padding: 0.25em;
}
h4.authorname_rh030 {
  margin: 0;
}
.postfooter_rh030 {
  position: relative;
}
/* CLEAR - for modern awesome browsers */
.sharepost_rh030:before,
.sharepost_rh030:after,
.postfooter_rh030:before,
.postfooter_rh030:after {
  content: "";
  display: table;
}
.sharepost_rh030:after,
.postfooter_rh030:after {
  clear: both;
}
@media (max-width: 52.0625em) {
  .wrapper_rh030 {
    overflow: hidden;
  }
  .article_rh030 {
    padding: 0 1.6em 1.6em 1.6em;
  }
  .footer_rh030 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media (max-width: 47em) {
  .article_rh030 {
    padding: 0 1.3333333333333333em 1.3333333333333333em 1.3333333333333333em;
  }
}
@media (max-width: 40em) {
  .article_rh030 {
    padding: 0 0.8888888888888888em 0.8888888888888888em 0.8888888888888888em;
  }
}
@media (max-width: 35em) {
  .article_rh030 {
    padding: 0 0.5714285714285714em 0.5714285714285714em 0.5714285714285714em;
  }
}
@media (max-width: 30em) {
  h1.blogtitle_rh030,
  h1.blogtitle_rh030 a {
    font-size: 3rem;
  }
  p.blogdescription_rh030,
  p.blogdescription_rh030 a {
    font-size: 1.125rem;
    margin: 0;
  }
  .article_rh030 {
    padding: 0 0.4em 0.4em 0.4em;
  }
  h1.posttitle_rh030 {
    font-size: 2.25em;
  }
}
