<div class="about_rh">
<img class="user_icon" src="/assets/images/Rieke_Hoepfner.png"/></br>
Born German but raised as European </br>
I discover the digital world in which the highest value is knowledge and collaboration.
</br>
With a strong media background I create content marketing solutions in science.
 </div>
<footer class="footer_rh030">
<a class="subscribe_rh030 icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_rh030">Subscribe!</span></a>
<div class="footertext_rh030">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_rh030">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>